@import "../style/pages/all";

.container {
    
    .contact-content {
        display: flex;
        margin: 100px;
        margin-bottom: 200px;
        padding-top: 114px;
        position: relative;

        .contact-left {
    
            .contact-title {
                
                h1 {
                    font-size: 52px;
                    margin-bottom: 10px;
                }

                p {
                    color: #807E98;
                    margin-bottom: 50px;
                }
            }

            .contact-info {

                h4 {
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }

                ul {

                    li {
                        list-style-type: none;
                        display: flex;
                        margin-bottom: 20px;

                        .contact-icon {
                            width: 50px;
                            height: 50px;
                            background-color: #F2F1FE;
                            border-radius: 20px;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                            margin-right: 20px;
                            
                            svg {
                                width: 30px;
                                height: 30px;
                                margin-left: 10px;
                            }
                        }

                        .contact-text {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;

                            h5 {
                                font-size: 16px;
                                margin-bottom: 10px;
                            }
    
                             p {
                                font-size: 16px;
                                font-weight: normal;
                                color: #807E98;
                             }
                        }

                    }
                }
            }
        }
    
        .contact-right {
            display: flex;
            margin-left: 30px;
    
            .contact-text {
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                flex-direction: column;
                h1 {
                    font-size: 44px;
                    margin-bottom: 20px;
                }
    
                p {
                    color: #807E98;
                    margin-bottom: 30px;
                }
            }
    
            .contact-icon {
                display: flex;
                margin-left: 90px;
    
                span {
                    display: flex;
                    margin-right: 15px;
                    background-color: #5D4FFF;
                    width: 60px;
                    height: 50px;
                    border-radius: 12px;
                    cursor: pointer;
                    transition: transform 0.3s ease-in-out;
                    
                    &:hover {
                        transform: translate3d(0, -4px, .01px);
                        box-shadow: 0 4px 15px #4a3aff99;
                    }
                    
                    .contact-awesome {
                        display: block;
                        margin: 0 auto;
    
                    }
                }
    
                h4 {
                    margin-right: 100px;
                    color: black;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    font-weight: normal;
                }
            }
    
            .contact-form {
                background-color: white;
                height: 500px;
                border: 1px solid #eeecec;
                border-radius: 30px;
                padding: 70px;
    
                .contact-textarea {
                    width: 90%;
                    border: 1px solid #eeecec;
                    border-radius: 12px;
                    outline: none;
                    padding: 20px;
                    font-size: 16px;
                    margin-bottom: 30px;
                }
    
                .btn-contact {
                    width: 20%;
                    height: 60px;
                    background-color: #5D4FFF;
                    border-radius: 12px;
                    color: white;
                    border: none;
                    font-size: 16px;
                    font-weight: bold;
                    transition: transform 0.3s ease-in-out;
    
                    &:hover {
                        transform: translate3d(0, -4px, .01px);
                        box-shadow: 0 4px 15px #4a3aff99;
                    }
                }
            }
        }

        .pricing-circle-contact {
            top: -5%;
            left: 50%;
            position: absolute;
            z-index: -10; 
            transform: translate(-50%, -5%);

            .big-circle {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background-color: #F6F5FE;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center; 
                
                .small-circle {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    background-color: #ffffff;
                    position: absolute;
                }
            }
        }
    }

    .contact-faq {

        .faq-title {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            h1 {
                font-size: 48px;
                margin-bottom: 20px;
            }

            p {
                color: #807E98;
                margin-bottom: 50px;
            }
        }

        .faq-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 150px;

            ul {
                border: 1px solid #F2F1FE;
                border-radius: 12px;
                padding: 50px;
                width: 35%;
                height: 450px;
                box-shadow: 0px 2px 8px #F1F1F6;

                li {
                    display: flex;
                    font-size: 20px;
                    font-weight: bold;

                    &:not(:last-child) {
                        border-bottom: 2px solid #F2F1FE;
                        margin-bottom: 40px;
                    }
                    
                    .faq-nav-content {
                        margin-bottom: 40px;
                        width: 100%;
                        display: flex;

                        .faq-icon {
                            width: 50px;
                            height: 50px;
                            background-color: #EFEEF6;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            border-radius: 12px;
                            margin-right: 20px;
                        }
    
                        svg {
                            color: #8E8BB2;
                            margin-left: 10px;
                        }
    
                        .faq-text {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                        }
                    }

                }
            }
        }
    }

}